/* You can add global styles to this file, and also import other style files */

/*Base
*************************************/
html { height:100%; background-color:#2c70d2; padding:0px; margin:0px; }
body { height:100%; padding:0px; margin:0px; font-family:Arial, Helvetica, sans-serif; font-size:16px; }
img { max-width:100%}

/*Layout
*************************************/



/*Module
*************************************/

.fortuneCookie { width:350px; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%)}

.fortuneViewer { background-color:#d25f2c; position:fixed; top:0px; left:0px; right:0px; bottom:0px; box-shadow: inset 0px 0px 29px 11px rgba(170,77,36,1); }
  .fortuneViewer .utilitiesNav { position:absolute; right:20px; top:20px;}

.fortunes { padding:20px; text-align:center; margin-top:20px;}
  .fortunes .fortuneEditor { transform:rotateZ(-2deg);  }
  .fortunes .fortuneEditor .text { display:none; }

.fortuneEditor { display:block; position: relative; text-align:center; max-width:500px; margin-left:auto; margin-right:auto; }
  .fortuneEditor .field { display:inline-block; position:relative;}
  .fortuneEditor input { font-size:16px; text-align:center; padding:10px 20px; color:#168cb4; border:none; box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.22); padding:15px 20px; }
  .fortuneEditor .save { position:absolute; right:-8px; top:-8px; }
  .fortuneEditor .text { color:#ffffff; font-weight:700;}

.fortuneDetails { text-align:center;}
  .fortuneDetails .fortuneEditor { margin-top:160px;}
  .fortuneDetails .link { margin-top:70px;}  

.listOfFortunes { list-style-type:none; padding:0px; margin:0px; text-align:center; }
  .listOfFortunes li {  display:block; margin:30px 0px; transition: transform .05s linear; }
  .listOfFortunes li:first-child { transform: rotateZ(2deg)}
  .listOfFortunes li:nth-child(even) { transform:rotateZ(-2deg);  }
  .listOfFortunes div { display:inline-block; position:relative; }
  .listOfFortunes a { border-radius:2px; background-color:#ffffff; color:#168cb4; display:inline-block; box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.22); padding:15px 20px; display:inline-block; color:#168cb4; text-decoration:none; }
  .listOfFortunes a:hover { text-decoration: underline;}
  .listOfFortunes .close { position:absolute;  right:-8px; top:-8px; }

.close { overflow:hidden; font-size:18px; padding:0px; margin:0px; border:none; background-color:#333333; position:relative; text-indent: -900px; width:20px; height:20px; border-radius:15px; transition: transform .05s linear;  }
  .close:after { text-indent: 0px; transform:rotateZ(45deg); content:'+'; font-weight:700; display:block; position:absolute; color:#ffffff; left:5px; top:-1px; }
  .close:hover { cursor: pointer; transform:scale(1.5, 1.5); }

.save { overflow:hidden; font-size:18px; padding:0px; margin:0px; border:none; background-color:#46b058; position:relative; text-indent: -900px; width:20px; height:20px; border-radius:15px; transition: transform .05s linear;  }
  .save:after { text-indent: 0px; content:'+'; font-weight:700; display:block; position:absolute; color:#ffffff; left:5px; top:-1px; }
  .save:hover { cursor: pointer; transform:scale(1.5, 1.5); }  

.iconLink { display:block; width:30px; height:30px; text-indent:-900px; position:relative; overflow:hidden; }
  .iconLink:after { content:''; width:30px; background-repeat:no-repeat; height:30px; position: absolute; left:0px; top:0px; transition:all .3s ease-in-out; }
  .iconLink.gear:after { background-image:url('assets/gear.png'); background-size:30px;  }
  .iconLink.gear:hover:after { transform:rotate(90deg); }

.button { text-decoration:none; display:inline-block; font-size:16px; color: #cfcfcf; font-weight: 700; background-color: #333333; border-radius: 24px; padding: 13px 20px; border: none; }
  .button:hover { cursor:pointer; }  
